<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <ion-card class="ion-padding">
          <ion-item lines="none">
            <ion-icon slot="end" name="create" (click)="presentModal()" style="cursor: pointer;"></ion-icon>
            <ion-label>Welcome, {{ item?.firstname }}!</ion-label>
          </ion-item>
          <ion-card-content>
            <!-- <ion-item lines="none">
              <ion-img [src]="item?.img"></ion-img>
            </ion-item> -->
            <ion-item lines="none">
              <ion-text class="profile-label" color="medium"><i><small>Email</small></i></ion-text>
              <ion-text>{{ item?.email }}</ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="profile-label" color="medium"><i><small>Currency</small></i></ion-text>
              <ion-text>{{ item?.currency }}</ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="profile-label" color="medium"><i><small>List View</small></i></ion-text>
              <ion-text>{{ item?.listview }}</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size-md="4" offset-md="4">
        <ion-button color="danger" (click)="logout()">
          <ion-icon name="log-out" ></ion-icon>Log out
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>