<ion-list class="ion-padding">
  <ion-item>
    <ion-label color="medium"><i><small>Tuition Fees</small></i></ion-label>
    <p>
      <ion-text>{{ amount | currency: curr }}</ion-text>
    </p>
  </ion-item>
  <ion-item>
    <ion-label color="medium"><i><small>Allowances</small></i></ion-label>
    <p>
      <ion-text>{{ amount | currency: curr }}</ion-text>
    </p>
  </ion-item>
  <ion-item>
    <ion-label color="medium"><i><small>Loans</small></i></ion-label>
    <p>
      <ion-text>{{ amount | currency: curr }}</ion-text>
    </p>
  </ion-item>
  <ion-item>
    <ion-label color="medium"><i><small>Other</small></i></ion-label>
    <p>
      <ion-text>{{ amount | currency: curr }}</ion-text>
    </p>
  </ion-item>
</ion-list>
