<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="secondary" (click)="presentModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size-md="4" offset-md="4">
        <ion-segment (ionChange)="filterDates($event)">
          <ion-segment-button value="All" checked>
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Today">
            <ion-label>Today</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Weekly">
            <ion-label>Weekly</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Monthly">
            <ion-label>Monthly</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col> -->
      <ion-col size-md="4" offset-md="4">
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-title>Summary</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label color="medium"><i><small>Total Income</small></i></ion-label>
              <ion-text>{{ totalIncome | currency: curr }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label color="medium"><i><small>Total Expenses</small></i></ion-label>
              <ion-text>{{ totalExpenses | currency: curr }}</ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="medium"><i><small>Net Total</small></i></ion-label>
              <ion-text><strong>{{ totalIncome - totalExpenses | currency: curr }}</strong></ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div *ngIf="isLoading">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="!isLoading" lines="none">
          <ion-label>{{ categories[0]?.name }}</ion-label>
          <ion-text>{{ getAmount(categories[0]?.id) | currency: curr }}</ion-text>
          <ion-toggle slot="end" [(ngModel)]="showHome"></ion-toggle>
        </ion-item>
        <app-house *ngIf="showHome" [category]="categories[0]" [expenses]="expenses" [curr]="curr"></app-house>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div *ngIf="isLoading">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="!isLoading" lines="none">
          <ion-label>{{ categories[1]?.name }}</ion-label>
          <ion-text>{{ getAmount(categories[1]?.id) | currency: curr }}</ion-text>
          <ion-toggle slot="end" [(ngModel)]="showLiving">
          </ion-toggle>
        </ion-item>
        <app-living *ngIf="showLiving" [category]="categories[1]" [expenses]="expenses" [curr]="curr"></app-living>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div *ngIf="isLoading">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="!isLoading" lines="none">
          <ion-label>{{ categories[2]?.name }}</ion-label>
          <ion-text>{{ getAmount(categories[2]?.id) | currency: curr }}</ion-text>
          <ion-toggle slot="end" [(ngModel)]="showTrans"></ion-toggle>
        </ion-item>
        <app-trans *ngIf="showTrans" [category]="categories[2]" [expenses]="expenses" [curr]="curr"></app-trans>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div *ngIf="isLoading">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="!isLoading" lines="none">
          <ion-label>{{ categories[3]?.name }}</ion-label>
          <ion-text>{{ getAmount(categories[3]?.id) | currency: curr }}</ion-text>
          <ion-toggle slot="end" [(ngModel)]="showEduc"></ion-toggle>
        </ion-item>
        <app-educ *ngIf="showEduc" [category]="categories[3]" [expenses]="expenses" [curr]="curr"></app-educ>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <div *ngIf="isLoading">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="!isLoading" lines="none">
          <ion-label>{{ categories[4]?.name }}</ion-label>
          <ion-text>{{ getAmount(categories[4]?.id) | currency: curr }}</ion-text>
          <ion-toggle slot="end" [(ngModel)]="showMisc"></ion-toggle>
        </ion-item>
        <app-misc *ngIf="showMisc" [category]="categories[4]" [expenses]="expenses" [curr]="curr"></app-misc>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>